<div class="container">
  <h1>Listing Short Urls</h1>
  <div id="notice" class="alert alert-success"></div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Original Url</th>
      <th>Shorty Url</th>
      <th>Visits Count</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <%@short_urls.each do |short_url|%>
        <tr>
          <td><%=short_url.original_url%></td>
          <td><%=link_to "http://localhost:3000/"+short_url.shorty,"/#{short_url.shorty}"%></td>
          <td><%=short_url.visits_count%></td>
          <td><%= link_to "Delete",short_urls_path(short_url_id: short_url), :method => :delete, class:'btn btn-danger' %>
            <%= link_to "Recent Location",short_visits_show_path(short_url_id:short_url.id), class:'btn btn-primary' %>
          </td>
        </tr>
    <%end%>
    </tbody>
  </table>
  <%= will_paginate @short_urls %>
  <%= button_to "Generate Short Url", short_urls_new_path, method: :get, class: "btn btn-primary" %>
</div>